@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

.openSans {
  font-family: 'Open Sans', sans-serif;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}

.md-sync-views {
  display: flex;
}

.md-sync-cal {
  width: 350px;
}

.md-sync-list {
  flex: 1;
  border-left: 1px solid #ccc;
}

.demo-synchronized-views,
.md-sync-views,
.md-sync-list {
  height: 100%;
}

@media screen and (max-width: 700px) {
  .md-sync-views {
    display: block;
  }

  .md-sync-cal {
    width: auto;
  }
}