@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .img-shadow {
  width: 250px;
  -webkit-filter: drop-shadow(5px 10px 5px #090a01e2);
  filter: drop-shadow(5px 10px 5px #090a01e2);
}

.img-shadow {
  width: 250px;
  -webkit-filter: drop-shadow(5px 10px 5px #28281487);
  filter: drop-shadow(5px 10px 5px #28281487);
}

.dark .simplebar-scrollbar::before {
  background-color: white;
}

.dark .three-d {
  text-shadow: 0px 5px 0px #533519;
}

.three-d {
  text-shadow: none;
}
ul {
  font-family: 'Roboto', sans-serif;
}

ul::-webkit-scrollbar {
  height: 1em;
  width: 10px;
  background: blue;
}

ul::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

ul::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

ul::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/* antD selector */
.ant-picker-ok button{
      background-color: #1677ff !important;
}

.ant-picker-ok button:hover {
  background-color: #0056ce !important;
}
.ant-select-selector{
  background-color: rgb(112, 128, 144,0.3) !important;
}