@tailwind base;
@tailwind components;
@tailwind utilities;
/* linear-gradient(to top, #0051a2, #0076eb) */
body {
  background: linear-gradient(to top, #005ab5, #2190ff) ;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; 
}



.scale-0 {
  transform: scale(0);
}

.scale-100 {
  transform: scale(1);
}


/*  */