.ant-picker-panel {
  border-radius: 0 0 0 24px !important;
  background-color: rgb(253, 186, 116, 0.75) !important;
  padding: 1rem !important;
}
.ant-picker-calendar {
  display: flex !important;
  flex-direction: column !important;
  align-items: start !important;
  justify-content: start !important;
  background-color: transparent !important;
  overflow: hidden !important;
}
.ant-picker-calendar-header {
  width: 100% !important;
  background-color: rgb(253, 186, 116, 0.75) !important;
}
.slotCalendar table{
  border-bottom-right-radius: 1.5rem !important;
    border-bottom-left-radius: 1.5rem !important;
}
.slotCalendar table td{
  text-align: center !important;
  padding-right: 5em !important;
  padding-left: 5em !important;
}
.slotCalendar table tbody tr:first-child {
    width: fit-content !important;
      padding-right: 0 !important;
      padding-left: 0 !important;
    
}
.slotCalendar table thead tr:nth-child(0) {
  width: fit-content !important;
  padding-right: 0 !important;
  padding-left: 0 !important;

}
.slotCalendar th{
  text-align: center !important;
}